/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/***************************** Custom properties voor kleur ***************************/
:root{
	--pokedex-main-kleur: #CC0000;
	--pokedex-andere-kleur: #CE2211;
	--blink-circle-gradient: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
	--blink-circle-gradient-50: linear-gradient(315deg, #63A4FF 0%, #83EAF1 74%);
	--circle-red: linear-gradient(315deg, #3F0D12 0%, #A71D31 74%);
	--circle-yellow: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
	--circle-green: linear-gradient(315deg, #00B712 0%, #5AFF15 74%);
	--scherm-links: #E0FFFF;
	--scherm-links-border: #D3D3D3;
	--black-buttons: #333;
	--white-button: #FFF;
	--buttons-red: #FF0000;
	--buttons-blue: #0000FF;
	--select-button: #008800;
	--scherm-rechts: #000;
	--pokemon-titel-color: #ffcb05;
	--pokemon-titel-stroke-color: #2a75bb;
}

html{
  height:100%;
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}

/***************************** fonts ***************************/

@font-face {
    font-family: 'pokemon_solidnormal';
    src: url('../fonts/pokemon_solid-webfont.woff2') format('woff2'),
         url('../fonts/pokemon_solid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pokemon_hollownormal';
    src: url('../fonts/pokemon_hollow-webfont.woff2') format('woff2'),
         url('../fonts/pokemon_hollow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'early_gameboyregular';
    src: url('../fonts/early_gameboy-webfont.woff2') format('woff2'),
         url('../fonts/early_gameboy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futurabold_italic';
    src: url('../fonts/futura_bold_italic_font-webfont.woff2') format('woff2'),
         url('../fonts/futura_bold_italic_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Algemene CSS vanaf hier */
header{
	display: grid;
	margin: 0;
}

h1 {
	margin: .3em 0em 0em 0em;
	padding: 0em;
	background-color: var(--achtergrond-kleur);
	color: var(--merk-kleur);
	color: var(--pokemon-titel-color);
	-webkit-text-stroke: .05em var(--pokemon-titel-stroke-color);
	text-shadow:
       3px 3px 0 var(--pokemon-titel-stroke-color),
     -1px -1px 0 var(--pokemon-titel-stroke-color),  
      1px -1px 0 var(--pokemon-titel-stroke-color),
      -1px 1px 0 var(--pokemon-titel-stroke-color),
       1px 1px 0 var(--pokemon-titel-stroke-color);
	justify-self: center;
	font-family: 'pokemon_solidnormal';
	font-size: 4em;
}

main{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: .03fr 1fr ;
	align-items: center;
 	margin:0;
}

body{
	background-image: url(../images/pokemon-background.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	margin: 0em;
}

footer{
	display: none;
}

/***************** scherm links van de pokedex *******************/
article{
	width: 25em;
	height: 40em;
	background-color: var(--pokedex-main-kleur);
	border-radius: 1em;
	grid-column: 2/3;
  	grid-row: 2/3;
  	box-shadow:
    inset -.3em -.3em .5em maroon,
    inset .3em .3em .5em maroon;
}


/***************** Top section van de linker kant van de pokedex *******************/
span:first-of-type{
	filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

section.top{
	width: 25em;
	height: 7em;
	background-color: var(--pokedex-andere-kleur);
	-webkit-clip-path: polygon(100% 0, 100% 50%, 70% 50%, 50% 100%, 0 100%, 0 0); 
	clip-path: polygon(100% 0, 100% 50%, 70% 50%, 50% 100%, 0 100%, 0 0);
	padding: 1em 1em 1em 1em;
	border-radius: 1em 1em 0 0 ;
	display: flex;
	box-shadow:
    inset -.3em -.0em .5em maroon,
    inset .3em .3em .5em maroon;
}

/***************** Blink animatie *******************/
section.top div:first-of-type {
  width: 5em;
  height: 5em;
  margin-left: 1em;
  background-image: var(--blink-circle-gradient);
  border-radius: 50%;
  border: 0.3em solid #FFFFFF;
  animation-name: blink;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}

@keyframes blink{
  0% {
    background-image: var(--blink-circle-gradient);
  } 
  50%{
    background-color: #63a4ff;
	background-image: var(--blink-circle-gradient-50);
  }
  100% {
    background-image: var(--blink-circle-gradient);
  } 
}

section.top div:nth-of-type(2){
  width: 1.7em;
  height: 1.7em;
  background-color: #3F0D12;
  background-image: var(--circle-red);
  border-radius: 50%;
  position: relative;
  left: 2em;
  top: 0em;
  box-shadow:
    inset -.1em -.1em .2em #CE2211,
    inset .1em .1em .2em #CE2211;
}

section.top div:nth-of-type(3) {
  width: 1.7em;
  height: 1.7em;
  background-color: #fbb034;
  background-image: var(--circle-yellow);
  border-radius: 50%;
  position: relative;
  left: 4em;
  top: 0em;
   box-shadow:
    inset -.1em -.1em .3em #CE2211,
    inset .1em .1em .3em #CE2211;
}

section.top div:nth-of-type(4) {
  width: 1.7em;
  height: 1.7em;
  background-color: #00b712;
  background-image: var(--circle-green);
  border-radius: 50%;
  position: relative;
  left: 6em;
  top: 0em;
  box-shadow:
    inset -.1em -.1em .3em #CE2211,
    inset .1em .1em .3em #CE2211;
}


section.scherm-links{
	width: 21em;
	height: 17em;
	background-color: var(--scherm-links-border);
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	-webkit-clip-path: polygon(100% 0, 100% 100%, 10% 100%, 0 90%, 0 0); 
	clip-path: polygon(100% 0, 100% 100%, 10% 100%, 0 90%, 0 0);
	padding: 2em 1em 1em 1em;
	box-shadow:
    inset -.1em -.1em .1em rgb(51 58 64),
    inset .1em .1em .1em rgb(51 58 64);
}

section.scherm-links section{
	width: 17em;
	height: 12em;
	background-color: var(--scherm-links);
	background-image: url(../images/eevee.gif);
	background-size: 13em;
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
	border-radius: 0.5em;
	box-shadow: 
	inset -.3em -.3em .5em grey,
    inset .3em .3em .5em grey;
}

span.bottom-drop-shadow{
	filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}



/********* css buttons van de linker kant **********/
section.keys{
	width: 25em;
	height: 12em;
	background-color: ;
	border-radius: 0em 0em 1em 1em;
	padding: 1em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr ;
	grid-template-rows: 1fr 1fr;
}

section.keys div:first-of-type {
  width: 4em;
  height: 4em;
  margin-left: .5em;
  background-color: var(--black-buttons);
  border-radius: 50%;
  border: 0.3em solid #111;
  grid-row: 1;
  grid-column: 1;
  box-shadow:
  	3px 3px 5px #111,
    inset -.1em -1em 1em #111,
    inset .1em .1em 1em #111;
}

section.keys div:nth-of-type(2) {
  width: 4em;
  height: 1em;
  background-color: var(--buttons-red);
  grid-row: 1;
  grid-column: 2;
  border-radius: 0.3em;
  box-shadow: 3px 3px 3px #222;
}

section.keys div:nth-of-type(3) {
  width: 4em;
  height: 1em;
  background-color: var(--buttons-blue);
  grid-row: 1;
  grid-column: 3;
  border-radius: 0.3em;
  box-shadow: 3px 3px 3px #222;

}

section.keys section{
	width: 9em;
	height: 5em;
	margin: 0em 0em .7em 2.5em;
	padding: 1.5em;
	grid-row: 2;
  	grid-column: 1/4;
  	justify-self: center;
	background-color: var(--scherm-rechts);
	border-radius: 0.5em;
	box-shadow:
    inset -.5em -.5em 1em #333,
    inset .5em .5em 1em #333;
}

section.keys section p{
	color: #7CCC33; 
	width: 100%;
	padding: .7em 0em 0em 0em;
	margin: 0;
	font-family: 'early_gameboyregular';
	font-size: .8em;
	text-align: center;
}

            
section.keys button:first-of-type {
  background-color: var(--black-buttons);
   box-shadow:
  	3px 3px 5px #111,
    inset -.1em -1em 1em #111,
    inset .1em .1em 1em #111;
  border: none;
  border-radius:.5em;
  height: 2.5em;
  position: relative;
  width: 7em; 
  grid-row: 1/3;
  grid-column: 4;
  top: 4em;
  right: 1.5em;
}

 section.keys button:first-of-type:after {
  background-color: var(--black-buttons);
   box-shadow:
  	3px 3px 5px #111,
    inset -.1em -1em 1em #111,
    inset .1em .1em 1em #111;
  border: none;
  border-radius:.5em;
  content: "";
  height: 7em;
  width: 2.5em;
  left: 2.2em;
  position: absolute;
  top: -2.25em;
  grid-row: 1;
  grid-column: 4;
      
}

/************ scherm rechts van de pokedex ***************/
article.pokedex-rechts{
	background-color: var(--pokedex-main-kleur);
	border-radius: 1em;
	-webkit-clip-path: polygon(30% 8.7%, 50% 18%, 100% 18%, 100% 100%, 0 100%, 0 8.7%); 
	clip-path: polygon(30% 8.7%, 50% 18%, 100% 18%, 100% 100%, 0 100%, 0 8.7%);
	display: grid;
	grid-template-rows: 1fr 0.2fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 1.5em;
	padding-top: 9em;
	grid-column: 3/4;
  	grid-row: 2/3;
  	box-shadow:
    inset -.3em -.3em .5em maroon,
    inset .3em .3em .5em maroon;
}


article.pokedex-rechts section:first-of-type{
	width: 20em;
	height: 14.3em;
	background-color: var(--scherm-rechts);
	padding: 1.3em;
	margin: auto;
	border-radius: 0.5em;
	grid-row: 1/2;
	grid-column: 1/4;
	margin: 0em 2em 0em 2em;
	justify-self: center;
	box-shadow:
    inset -.5em -.5em 1em #333,
    inset .5em .5em 1em #333;
    position: relative;
}

/*********css voor de typeweriter effect**********/

/*https://codepen.io/alvaromontoro/pen/LYLZOrE*/
/*https://github.com/YunusEmreCMD*/
@keyframes grow {
  0% { max-height: var(--lineHeight); }
  100% { max-height: calc(var(--lineHeight) * var(--lines)); }
}

@keyframes carriageReturn {
  0% { top: 0; }
  100% { top: calc(var(--lineHeight) * var(--lines)); }
}

@keyframes type {
  0% { width: 100%; }
  100% { width: 0%; }
}

@keyframes caret {
  0% { color: var(--bgColor); }
  100% { color: black; }
}

.text-typewriter {
  --bgColor: #000;
  --lines: 500;
  --lineHeight: 1.5rem;
  --timePerLine: 1.5s;
  --widthCh: 22;
  --width: calc(var(--widthCh) * 1ch);
  --time: calc(var(--lines) * var(--timePerLine));
  animation: grow var(--time) steps(var(--lines));
  animation-fill-mode: forwards;
  background: var(--bgColor);  
  line-height: var(--lineHeight);
  max-height: var(--lineHeight);
  overflow: hidden;
  position: relative;
  width: var(--width);
}

.text-typewriter::before {
  content: "";
  animation: 
    type var(--timePerLine) linear infinite, 
    carriageReturn var(--time) steps(var(--lines)) var(--lines),
    caret 0.5s steps(2) infinite;
  background: var(--bgColor);
  border-left: 2px solid;
  border-left-width: 0;
  bottom: 0;
  height: 2rem;
  position: absolute;
  right: 0;
  width: 100%;
}

 article.pokedex-rechts section:first-of-type p.text-typewriter{
	color: #7CCC33; 
	width: 100%;
	margin: 0;
	font-family: 'early_gameboyregular';
	font-size: .5em;
	white-space: pre-wrap;
}


/********* css buttons van het rechter sherm **********/
div.blue-grid{
	width: 17em;
	height: 4em;
	background-color: var(--buttons-blue);
	border-radius: 0.5em;
	grid-row: 3/4;
	grid-column: 1/4;
	justify-self: center;
	display: flex;
	flex-wrap: wrap;
	box-shadow:
  	4px 4px 5px #111;
}

.blue-grid div{
	width: 3.4em;
	height: 2em;
	border: 0.1em solid black;
}

.blue-grid div:first-of-type{
	border-radius: .5em 0 0 0;
}

.blue-grid div:nth-of-type(5){
	border-radius: 0 .5em 0 0;
}

.blue-grid div:nth-of-type(6){
	border-radius: 0 0 0 .5em;
}

.blue-grid div:nth-of-type(10){
	border-radius: 0 0 .5em 0;
}


.black-button-1{
	width: 4em;
	height: 1em;
	background-color: var(--black-buttons);
	grid-row: 4/5;
	grid-column: 2/3;
	justify-self: center;
	align-self:  top;
	margin-top: 1em;
	border-radius: 0.5em;
	border-color: #222;
	box-shadow:
  	3px 3px 5px #111,
    inset -.1em -.1em .1em #111,
    inset .1em .1em .1em #111;
}

.black-button-2{
	width: 4em;
	height: 1em;
	background-color: var(--black-buttons);
	grid-row: 4/5;
	grid-column: 3/4;
	justify-self: center;
	align-self:  top;
	margin-top: 1em;
	border-radius: 0.5em;
	border-color: #222;
	box-shadow:
  	3px 3px 5px #111,
    inset -.1em -.1em .1em #111,
    inset .1em .1em .1em #111;
}

.white-grid{
	height: 2.5em;
	width: 7em;
	background-color: var(--white-button);
	border-radius: 0.5em;
	grid-row: 4/5;
	grid-column: 1/2;
	display: flex;
	flex-direction: row;
	justify-self: center;
	align-self: center;
	box-shadow:
  	3px 3px 5px #111,
    inset -.1em -.1em .1em #111,
    inset .1em .1em .1em #111;
}

.white-grid div:first-of-type{
	height: 2.5em;
	width:3.5em;
	border: 0.1em solid #333;
	border-radius: .5em 0em 0em .5em;
}

.white-grid div:nth-of-type(2){
	height: 2.5em;
	width:3.5em;
	border: 0.1em solid #333;
	border-radius: 0em .5em .5em 0em;
}


.yellow-circle{
	background-image: var(--circle-yellow);
  	height: 2em;
  	width: 2em; 
  	border-radius: 50%;
  	position: relative;
 	grid-row: 4/5;
  	grid-column: 3;
  	justify-self: right;
  	align-self: bottom;
  	margin-top: 2.5em;
  	margin-right: 2em;
  	border-color: none;
  	box-shadow:
  	3px 3px 5px #111,
    inset -.1em -.1em .5em #555,
    inset .1em .1em .5em #555;
}



article.pokedex-rechts button:first-of-type{
	color: white;
	width: 10em;
	height: 3.5em;
	margin-right: 3.5em;
	margin-top: 0em;
	border-radius: 0.5em;
	background-color: var(--black-buttons);
	grid-column: 1/3;
	grid-row: 5/6;
	justify-self: center;
	align-self: center;
	border-color: #222;
	box-shadow:
  	3px 3px 5px #111,
    inset -.1em -1em 1em #111,
    inset .1em .1em 1em #111;

    transform:translatey(-.5em);
	appearance:none;
	border-radius:.5em;
	transition:.1s;
}

article.pokedex-rechts button:first-of-type:focus-visible {
	transform:translatey(-.50em);
	outline: none;
	box-shadow:0 .75em 0 #333;
}

article.pokedex-rechts button:first-of-type:active {
	transform:translatey(0);
	box-shadow: 0 0 0 #333;
}


article.pokedex-rechts button:nth-of-type(2){
	color: white;
	width: 10em;
	height: 3.5em;
	margin-left: 3.5em;
	margin-top: 0em;
	border-radius: 0.5em;
	background-color: var(--black-buttons);
	grid-column: 2/4;
	grid-row: 5/6;
	justify-self: center;
	align-self: center;
	border-color: #222;
	box-shadow:
  	3px 3px 5px #111,
    inset -.1em -1em 1em #111,
    inset .1em .1em 1em #111;

	transform:translatey(-.5em);
	appearance:none;
	border-radius:.5em;
	transition:.1s;

}
article.pokedex-rechts button:nth-of-type(2):focus-visible {
	transform:translatey(-.50em);
	outline: none;
	box-shadow:0 .75em 0 #333;
}

article.pokedex-rechts button:nth-of-type(2):active {
	transform:translatey(0);
	box-shadow: 0 0 0 #333;
}

p.last{
	color: white;
	grid-column: 1/3;
	grid-row: 5/6;
	margin: 0;
	position: relative;
	top: 2.5em;
	left: 3.1em;
	font-family: 'futurabold_italic';
	font-size: 1.5em;
}

p.next{
	color: white;
	grid-column: 2/4;
	grid-row: 5/6;
	margin: 0;
	position: relative;
	top: 2.5em;
	left: 5em;
	font-family: 'futurabold_italic';
	font-size: 1.5em;
}


/******** Verschillende Eevee navigatie - de achtergrond en images van de eevee ********/

/******** Eevee ********/
section.scherm-links section.eevee{
	background-image: url(../images/eevee.gif);
	background-size: 13em;
}
body.eevee{
	background-image: url(../images/pokemon-background.png);
}


/******** Vaporeon ********/
section.scherm-links section.vaporeon{
	background-image: url(../images/vaporeon.gif);
	background-size: 13em;
}
body.vaporeon{
	background-image: url(../images/water-background.png);
	background-size: cover;
}


/******** Jolteon ********/
section.scherm-links section.jolteon{
	background-image: url(../images/jolteon.gif);
	background-size: 13em;
}
body.jolteon{
	background-image: url(../images/lightning-background.png);
}


/******** Flareon ********/
section.scherm-links section.flareon{
	background-image: url(../images/flareon.gif);
	background-size: 13em;
}
body.flareon{
	background-image: url(../images/fire-background.png);
}


/******** Espeon ********/
section.scherm-links section.espeon{
	background-image: url(../images/espeon.gif);
	background-size: 13em;
}
body.espeon{
	background-image: url(../images/daytime-background.png);
}


/******** Umbreon ********/
section.scherm-links section.umbreon{
	background-image: url(../images/umbreon.gif);
	background-size: 13em;
}
body.umbreon{
	background-image: url(../images/moon-background.png);
}


/******** Glaceon ********/
section.scherm-links section.glaceon{
	background-image: url(../images/glaceon.gif);
	background-size: 13em;
}
body.glaceon{
	background-image: url(../images/ice-background.png);
}


/******** Leafeon ********/
section.scherm-links section.leafeon{
	background-image: url(../images/leafeon.gif);
	background-size: 13em;
}
body.leafeon{
	background-image: url(../images/grass-background.png);
}


/******** Sylveon ********/
section.scherm-links section.sylveon{
	background-image: url(../images/sylveon.png);
	background-size: 6em;
}
body.sylveon{
	background-image: url(../images/fairy-background.png);
}

